/***************************************************************
		Estrutura padrão do site e classes globais
***************************************************************/
* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Helvetica, "Trebuchete MS", sans-serif;
}

a {
	text-decoration: none;
}

/* Define div com 100% de altura */
.vh-100 { 
	min-height: 100vh;
}

/***************************************************************
		Customizações cabeçalho e nav-bar Index
***************************************************************/


#background-cabecalho {
	background: rgb(255, 255, 255) url("../img/cabecalho-inicio.png") no-repeat top;
	padding: 0px;
}

#background-cabecalho .navbar-nav > li > a {
	padding-top:0px !important; 
	padding-bottom:0px !important;
}

/***************************************************************
		Customizações Login e Cadastro
***************************************************************/

.cor-fundo {
	background-color: #F3F3F3 !important;
}

/* Font Aersome */
.fa-facebook-square {
	color: #3b5998;
}

.fa-google-plus-square {
	color: #db4a39;
}

/***************************************************************
		Customizações Home
***************************************************************/

